/* Applique un fond gris à toute la page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style pour le header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Style pour le contenu principal */
main {
    padding: 20px;
    text-align: center;
}

/* Style pour le footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
